.interactive-mode-filter-input {
    position: relative;
    margin-right: 0.5rem;
    border: 1px solid $color-border;
    padding: 0.25rem;
    border-radius: 2px;
    background-color: $color-bg-2;

    &__form {
        display: inline-flex;
        vertical-align: bottom;
        align-items: center;
    }

    &__input-field {
        margin: 0 0.25rem;
    }
    &__chip {
        display: inline-flex;
    }

    &__suggestions {
        position: absolute;
        width: inherit;
        max-width: 100%;
        z-index: 1;
        max-height: 25rem;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        overflow-y: overlay;
        background-color: #1c2736;
        border: solid 1px #1b548a;
        border-top: none;
        padding: 0;
    }
}

.theme-light {
    .interactive-mode-filter-input {
        background-color: $color-light-bg-2;
        border: 1px solid $color-light-border;
    }
}
