.shepherd-content {
    border-radius: 1rem;
}

.tour-card {
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.shepherd-arrow {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent white transparent;
    transform-origin: 0 0;
    // TODO farhan: if tooltips are positioned differently, the position needs to be different.
    // this is the correct positioning for tooltips that are placed below the search bar.
    // if bottom, we also need to transform differently.
    top: -25px;
}
