// Dividers (basically an `<hr>`) within the dropdown
:root {
    --dropdown-divider-bg: $dropdown-divider-bg;
    --dropdown-divider-margin-y: var(--spacer) / 2;
}

.dropdown-divider {
    height: 0;
    margin: var(--dropdown-divider-margin-y) 0;
    overflow: hidden;
    border-top: 1px solid var(--dropdown-divider-bg);
}
