:root {
    --dropdown-item-padding-y: $dropdown-item-padding-y;
    --dropdown-item-padding-x: $dropdown-item-padding-x;
    --dropdown-link-color: $dropdown-link-color;
    --dropdown-inner-border-radius: 0.1875rem;
    --dropdown-link-disabled-color: $dropdown-link-disabled-color;
    --dropdown-link-active-bg: $dropdown-link-active-bg;
    --dropdown-link-active-color: $dropdown-link-active-color;
    --dropdown-link-hover-color: $dropdown-link-hover-color;
}

.dropdown-item {
    display: block;
    width: 100%; // For `<button>`s
    padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--dropdown-link-color);
    text-align: inherit; // For `<button>`s
    text-decoration: none;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background-color: transparent; // For `<button>`s
    border: 0; // For `<button>`s

    &:hover,
    &:focus {
        color: var(--dropdown-link-hover-color);
        text-decoration: none;
        background-color: var(--dropdown-link-hover-bg);
    }

    &.active,
    &:active {
        color: var(--dropdown-link-active-color);
        text-decoration: none;
        background-color: var(--dropdown-link-active-bg);
    }

    &.disabled,
    &:disabled {
        color: var(--dropdown-link-disabled-color);
        pointer-events: none;
        background-color: transparent;
    }

    &[data-reach-menu-item] {
        &[aria-disabled]:active,
        &[aria-disabled]:hover {
            background-color: unset;
            color: unset;
        }
        &[data-selected]:not(:active) {
            background-color: var(--dropdown-link-hover-bg);
            color: unset;
        }
    }
}
